body {
    background-color: rgb(236, 70, 70);
    font: normal 15pt arial;
}

h1 {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    width: 500px;
    margin: auto;
    padding: 15px;
}

footer {
    text-align: center;
    color: white;
    padding: 15px;
}